@import './utilities.scss';

.cell {
	width: 50px;
	height: 50px;
	margin: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ccddee;
	border-radius: 5px;
	font-size: 35px;
	cursor: pointer;

	&:hover::after {
		content: '?';
		color: #869baf;
	}
}

@mixin cell-revealed($backgroundColor : #fff, $shadowColor : #cde, $color : null) {
	@extend .cell;
	background-color: $backgroundColor;
	box-shadow: inset 0 -4px $shadowColor;
	color: $color;
	cursor: default;

	&:hover::after {
		content: '';
	}
}

.cell_flagged {
	@include cell-revealed();
	position: relative;

	&::before {
		content: url('./pink-flag.svg');
		position: absolute;
		top: calc(50% + 2px);
		left: calc(50% + 2px);
		transform: translate(-50%, -50%);
	}
}

.cell_empty {
	@include cell-revealed();
}

.cell_mine {
	@include cell-revealed(#db106d, #fd3399);
	position: relative;

	&::before {
		content: '';
		width: 60%;
		height: 60%;
		display: block;
		background-color: #481e54;
		border-radius: 50%;
		position: absolute;
	}

	&::after {
		content: '';
		width: 23px;
		height: 21px;
		display: block;
		border-bottom-color: #ccddee;
		position: absolute;
		border-bottom-width: 3px;
		border-bottom-style: solid;
		border-radius: 50%;
		transform: rotate(-50deg);
	}
}

.cell_1-nearby {
	@include cell-revealed(#22ccee, #0095db, #88dded);
}

.cell_2-nearby {
	@include cell-revealed(#ffdd43, #ff9f48, #ffff66);
}

.cell_3-nearby {
	@include cell-revealed(#fb4499, #db106d, #ffb0dc);
}

.cell_many-nearby {
	@include cell-revealed(#445576, #32334b, #ccddee);
}
