@import './utilities.scss';

.flag-toggle-container {
	position: relative;
	width: 100px;
	height: 50px;
	border-radius: 50px;
	background-color: $light-grey;
	cursor: pointer;
}

.flag-toggle {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #8a8685;
	border-radius: 50%;
	transition: 0.3s ease-out;

	&::before {
		content: url('./pink-flag.svg');
		position: absolute;
		left: calc(50% + 2px);
		top: calc(50% + 2px);
		transform: translate(-50%, -50%);
		filter: brightness(50%) grayscale(100%);
	}

	&.isOn {
		background-color: #fff;
		transform: translateX(50px);

		&::before {
			filter: none;
		}
	}
}
