@import './utilities.scss';

.reset {
	width: 100px;
	height: 50px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s;

	&:hover {
		font-size: 18px;
	}

	&_loose {
		background-color: $face-red;
		color: #fff;
	}

	&_win {
		background-color: $face-yellow;
		color: $dark-grey;
	}
}
